*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

/*--global--*/
body{
    overflow-y: fixed;
}

/*--header--*/

header{
    background-color: #262626;
    font-family: 'Barlow Condensed', sans-serif;
}

li{
    list-style: none;
}
span{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    text-align: left;
    vertical-align: top;
    padding: 20px 5px;
}
a{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
}
.nabbar img{
    float: left;
}
.navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}
.nav-menu{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size:  2.4rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: #a80000;
}
.hamborgir{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*--content--*/
.content{
    background-color: #383838; 
}
.nocap{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top:21.5%;
    left:50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 2.3rem;
}
.dialog1{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top: 37%;
    left:50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 3rem;
}
.secret0{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top: 44%;
    left:26.5%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    opacity: 0.01;
    font-size: 3rem;
}
.dialog2{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top: 44%;
    left:46%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 3rem;
}
.dialog3{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top: 51%;
    left:44.5%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 3rem;
}
.secret1{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top: 58%;
    left:26.5%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    opacity: 0.01;
    font-size: 3rem;
}
.dialog4{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top: 58%;
    left:52%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 3rem;
}
#content{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/3521073.jpg);
    background-position: center;
    filter: brightness(50%);
    background-attachment: fixed;
    background-size: cover;
}
.title{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    width: 80%;
    top: 8%;
    left:50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size: 5rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
.button{
    
    top: 75%;
    left:50%;
    border-radius: 10px;
    transform: translate(-50%, 50%);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 5px solid white;
    padding: 12px 34px;
    font-size: 3rem;
    background: transparent;
    position: absolute;
    cursor: pointer;
}
.button:hover{
    background-color: #a80000;
    border: 5px solid #a80000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*--categories--*/
.c1{
    position: absolute;
    top: 35%;
    left: 3%;
    right: 47%;
}
.c1 img{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 17%;
}
h1{
    font-size: 8rem;
}
.p1{
    position: absolute;
    top: 10%;
    left: 12%;
}
.p2{
    position: absolute;
    top: 10%;
    left: 38%;
}
.p3{
    position: absolute;
    top: 10%;
    left: 12%;
}
.p4{
    position: absolute;
    top: 10%;
    left: 7%;
}
.p5{
    position: absolute;
    top: 10%;
    left: 23%;
}
.p1{
    position: absolute;
    top: 10%;
    left: 12%;
}
.c2{
    position: absolute;
    top: 35%;
    left: 28%;
     right: 59%;
}
.c2 img{
    position: absolute;
    top: 10%;
    left: 92%;
    width: 65%;
}
.c3{
    position: absolute;
    top: 35%;
    left: 53%;
    right: 5%;
}
.c3 img{
    position: absolute;
    top: 10%;
    right: 50%;
    width: 20%;
}
.c4{
    position: absolute;
    top: 70%;
    left: 3%;
    right: 47%;
}
.c4 img{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 17%;
}
.c5{
    position: absolute;
    top: 70%;
    left: 28%;
     right: 59%;
}
.c5 img{
    position: absolute;
    top: 10%;
    left: 92%;
    width: 65%;
}
.c6{
    position: absolute;
    top: 70%;
    left: 53%;
    right: 5%;
}
.c6 img{
    position: absolute;
    top: 10%;
    right: 50%;
    width: 20%;
}
.sus{
    position: absolute;
    top: 10%;
    right: 20%;
    background: transparent;
    margin: 15px ;
    border-radius: none;
    display: flex;
    align-items: center;
    left:  15px;
}
.submit{
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    top:60%;
    right: 70%;
    width: 150px;
    height: 150px;
    text-align: right;
    font-size: 5rem;
    text-decoration: none;
    background-color: #710d14;
    border-color: #710d14;
    border-radius: 10px;
    color: white;
}
.c7{
    position: absolute;
    top: 35%;
    left 66%;
    right: 3%;
}
   
.c7 .prices-col{
    width: 350px;
    height: 625px;
}
.prices{
    color: white;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}
.prc1{
    position: absolute;
    top:65%;
    left: 19%;
}
.prc2{
    position: absolute;
    top:72%;
    left: 75%;
}
.prc3{
    position: absolute;
    top:65%;
    right: 65%;
}
.prc4{
    position: absolute;
    top:65%;
    left: 19%;
}
.prc5{
    position: absolute;
    top:72%;
    left: 75%;
}
.prc6{
    position: absolute;
    top:65%;
    right: 60%;
}
.sbs{
    position: absolute;
    top:85%;
    right: 19%;
}
.c7 img{
    margin-top: 40px;
    width: 300px;
}
.prices-col{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background: #262626;
    padding: 25px;
    box-sizing: border-box;
}
h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.7rem;
    margin: 10ps 0;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding: 12px;
}


/*--footer--*/

.footer{
    color:white;
    background-color: #262626;
    width: 100%;
    text-align: center;
    padding: 10px 0;
   font-family: 'Barlow Condensed', sans-serif;
}
.footer p{
    font-size: 1.3rem;
}
.icons .fa{
    color: #a80000;
    margin: 0 13px;
    cursor: pointer;
    padding: 10px 0;

}
.fa-heart-o{
    color: #f44446;
    margin: 0 4px;
}


/*--Telefon--*/

@media(max-width: 1440px){
    .hamborgir{
        display: block;
    }
    .hamborgir.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamborgir.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamborgir.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 98px;
        gap 0;
        flex-direction: column;
        background: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        right: 0;
    }
    .title{
        top:5%;
    }
    .row{
        flex-direction: column;
    }
}

